<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <h1>FILL DETAILS...!</h1>

    <label for="image">Upload Image:</label>
    <input type="file" name="image"><br><br>

    <label for=""> Name : </label>
    <input type="text" name="name" placeholder="ENTER YOUR NAME..." ><br><br>

    <label for="">email : </label>
    <input type="email" name="email" placeholder="ENTER YOUR EMAIL..!"><br><br>

    <label for="">City : </label>
    <input type="text" name="city" placeholder="ENTER YOUR CITY"><br><br>

    <label for="">Mobile :</label>
    <input type="number" name="mobile" placeholder="ENTER YPUR MOBILE NUMBER..."><br><br>

    <input type="submit" value="SAVE">
    <a href="{% url 'My_read_view' %}">SHOW DATA</a>
</form>
</body>
</html>